@import "../variable";

.main {
  min-height: 100vh;

  @media (min-width: $viewpoint--tablet) {
    display: grid;

    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 2fr 1fr;
  }
}
