// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-navi: #283645;
$color-grey: #929292;

$bg-navy: $color-navi;
$bg-dark-blue: #1d2631;
$bg-grey: $color-grey;


// Fonts

$font-family--roboto: "Roboto", sans-serif;

// Viewpoints

$viewpoint--mobile: 320px;
$viewpoint--tablet: 660px;
$viewpoint--desktop: 960px;
